* {
  background-color: #f7f2eb;
  box-sizing: border-box;
}

body {
  /*max-width: 1200px;*/
  width: 100vw;
  margin: 0;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #334eac;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: #000;
  font-weight: lighter;
}
.headlines {
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #334eac;
}
header h1 {
  font-size: 5rem;
  font-weight: lighter;
  color: #081f5c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-variant: normal;
  margin-top: 0.13rem;
}

li {
  font-family: "Times New Roman", Times, serif;
}

li:hover {
  font-weight: bolder;
}

.leftdiv {
  width: 50vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f7f2eb;
  text-align: left;
  border: #000;
  flex-direction: column;
}
.leftdiv,
.pictures {
  width: 100%;
}

.pictures {
  width: 50vw;
  display: flex;
  flex-direction: column;
  border: #000;
}

.mammadiv {
  padding: 0.625rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 37.5rem) {
  h1 {
    font-size: 1.5rem;
  }

  li,
  li:hover {
    font-size: 0.875rem;
  }

  .leftdiv,
  .pictures {
    padding: 0.625rem;
  }
}

a {
  text-decoration: none;
  color: #000;
}

.main1 {
  color: #7096d1;
  font-size: 1.563rem;
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main2 {
  color: #bad6eb;
  font-size: 1.563rem;
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.jkpgheader {
  width: 100vw;
}
